a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

div.outer{
    position: relative;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
.post{   
    margin: 15px;
}
.commentBut{
  margin-top: 5px;
}
.likes-comment span{
  overflow: auto; 
  float: right;
}

/* like/dislike  */
  
 .label{
font-size: 20px;
} 
.badge{
    font-size: 20px;
}
button{
    cursor: pointer;
    outline: 0;
    color: #AAA;
  
  }
.glyphicon-envelope{
  font-size: 20px;
}
.glyphicon-trash{
  color: black;
}
.glyphicon-alert{
  color: red;
}
.likes span{
  /* overflow: auto; */
  float: left;
}
.fa-thumbs-up{
  color:green;
}
.fa-thumbs-down{
  color:red;
}
/* Error Page */
/* *{
    transition: all 0.6s;
} */

html {
    height: 100%;
}

.Err{
    font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0;
}

#main{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fof{
	  display: table-cell;
	  vertical-align: middle;
}

.fof h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
}

@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}

/* Sign-in */
* {
  box-sizing: border-box;
}

/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
} 

/* style inputs and link buttons */

.btns {
  width:100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */

.google {
  background-color: #dd4b39;
  color: white;
}
.gihub{
  background-color: white;
  color: white;
}
/* style the submit button */
/* input[type=submit] {
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
} */

/* input[type=submit]:hover {
  background-color: #45a049;
} */

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}
fieldset{
  padding: 0 50px
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 250px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  margin-top: 15px;
  text-align: center;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}